@charset "UTF-8";



.findPwdFrm{
	width: 500px;
	margin-top: 100px;
	margin-bottom: 200px;
	margin-left:100px;
	padding: 30px;
	border: none;
}

.findPwd-button{
	margin-top:30px;
	width:70px;
	padding:5px;
	display: inline-block;
 	background-color: #01c9c6;
  	color: white;
  	font-weight: var(--font-medium);
  	font-size: 15px;
  	transition: 0.5s;
  	border-radius: 8px;
  	border:none;
}
.findPwd-button:hover {
  background-color: #01d8d6;
}

#email{
	width:300px;
	height:40px;
	border: 0.5px solid #D8D8D8;
	border-radius: 5px;
	font-size:15px;
}

hr{
 position:absolute;
 top:-80px;
 left:-40px;
 height:30vh;
 width:.05vw;
 border-width:0;
 color:#dedede;
 background-color:#dedede;
 margin-bottom:200px;
 
}

.explain{
 position:absolute;
 top:270px;
 left:1100px;
}

.explain p{
	font-size:14px;
}
.findPwd-icon{
	font-size:50px;
	color:gray;
}