@charset "UTF-8";

.mypage-box {
	
	width: 300px;
	margin: 5% 20% 0;
}
.mypage-box h1{
	color:black;
}
.line1{
	border:1px solid #dedede;
	width:1200px;
	margin-bottom:20px;
}
	
.lnb-box {margin: 0% 0 0;}
.lnb-box:after {
	float:left;
	content: '';
	display: block;
	clear: both;
	border:1px solid #dedede;
}
.lnb-box a {
	width: 300px;
	height: 55px;
	float: left;
	position: relative;
	top: 0;
	left: 0;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 400;
	font-size: 15px;
	color: rgb(102,102,102);
	text-align: left;
	line-height: 55px;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
}
.lnb-box a:nth-child(2){
	width: 300px;
	height: 55px;
	float: left;
	position: relative;
	top: 0;
	left: 0;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 600;
	font-size: 17px;
	color: #01c9c6;
	text-align: left;
	line-height: 55px;
	border-left: 6px solid #01c9c6;
	border-right: 1px solid #dedede;
	
}
.lnb-box a:nth-child(4){
	border-bottom:1px solid #dedede;
}
.switch a:nth-child(1){
	width: 30px;
	height: 15px;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 17px;
	color: #01c9c6;
	border-bottom: 4px solid #01c9c6;
	margin-right:10px;
}
.switch a:nth-child(2){
	width: 30px;
	height: 15px;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 500;
	font-size: 17px;
	color: gray;
	border-bottom: none;
}
.switch-select{
	margin-left:485px;
	width:165px;
}
.lnb-box a:nth-child(1){
	border-top:	1px solid #dedede;
}
.lnb-box a.on,
.lnb-box a:hover {z-index: 5;}
.lnb-box a:after {
	width: 300px;
	height: 55px;
	content: '';
	position: absolute;
	float: left;
	top: 0;
	left: 0;
	border-bottom: none;
	box-sizing: border-box;
	font-family: "Noto Sans KR", sans-serif;
}

.lnb-box a:hover:nth-child(1):after {
	z-index: -5;
	border:1px solid #dedede;
	border-bottom: none;
	background-color: #f1f1f1;
	
}
.lnb-box a:hover:nth-child(3):after {
	z-index: -5;
	border:1px solid #dedede;
	border-bottom: none;
	border-top:none;
	background-color: #f1f1f1;
	
}
.lnb-box a:hover:nth-child(4):after {
	z-index: -5;
	border:1px solid #dedede;
	border-top:none;
	background-color: #f1f1f1;
	
}
.board-box{
	margin: 0px 800px 200px;
	width: 750px;
	height: 541px;
	display:block;
	position: relative;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 200;
	font-size: 16px;
	border: none;
	color: rgb(102,102,102);
	text-align: center;
	line-height: 55px;
	
}
table{
	
    width: 100%;
    border-collapse: collapse;
    line-height: 24px;
}
table td,th {
    font-family: "Noto Sans KR", sans-serif;
	border: 1px solid #dedede;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    color:black;
}
th {
	background: rgb(238,238,238);
	
}