@charset "UTF-8";

/*every_exerciseList*/

/*메인*/
#main_text {
	margin: 30px;
	text-align: center;
}
/*검색바*/
#search-box{
	float:relative;
	width:500px;
	margin:auto;
}
#recruitment {
	width: 400px;
	left: 450px;
	right: 0;
	margin: auto;
	position: relative;
}
/*모두의 운동리스트*/
#every_exercise_img {
	width: 300px;
	height: 320px;
}

#thumbnail-list {
	margin: 30px;
	width:1300px;
	height:100%;
}

.service_item {
	position: relative;
	left: 200px;
	float:left;
	margin:30px;
}
#thumbnail-text{
	width:300px;
	height:200px;
}
/*검색바*/
.search-bar {
	width: 500px;
	height: 50px;
	position: relative;
	left: 15px;
}

/*페이징*/
#paging-div{
	width:100%;
	height:80px;
	position:relative;
	margin:auto;
	top:530px;
}
.paging {
	margin:auto;
	height: 30px;
	overflow: auto;
	width:500px;
	position:relative;
	right:120px;
}

.paging>li {
	float: left;
	padding-right: 30px;
}

#left-btn{
	width:20px;
	height:20px;
	margin:3px;
}
#right-btn{
	width:20px;
	height:20px;
	margin:3px;
}