@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;600&display=swap');
body {
	font-family: "Noto Sans KR", sans-serif !important;
}

body,
div,
ul,
li{
	margin:0;
	padding:0;
	list-style-type:none;
	
}

a,
a:visited,
a:hover,
a:active {
	text-decoration: none;
	color: black;
}

input:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 1000px #fff inset;
}

.profile-img {
	object-fit: cover;
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	display: block;
}