@charset "UTF-8";
.top {
	width: 100%;
}

/* top-head */
.top-head {
	width: inherit;
	height: 25px;
	background: #eee;
	line-height: 25px;
}
.top-head-userinfo {
	float: right;
	font-size: 14px;
	color: #ccc;
}
.top-head-userinfo:hover {
	cursor: default;
}
.top-head-userinfo > a {
	color: gray;
}
.top-head-userinfo > a:hover {
	color: black;
	cursor: pointer;
}

/* top-and-category */
.top-and-category {
	width: inherit;
}

/* top-body */
.top-body {
	height: 60px;
	display: flex;
	align-items: center;
}
.top-body-logo {
	margin-left: 40px;
	position: absolute;
}
.top-body-category {
	width: 700px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.top-body-category > a {
	padding: 10px 0;
	font-size: 20px;
	font-weight: bold;
}

/* category-list */
.category-list {
	position: absolute;
	width: inherit;
	height: 0px;
	border-bottom: 1px solid #ccc;
	overflow: hidden;
	background-color: #fff;
}
.category-list-box {
	width: 700px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
}
.category-list-box li {
	text-align: center;
	margin: 10px 0;
}
.category-list-box li > a {
	color: gray;
}
.category-list-box li > a:hover {
	color: #000;
}