@charset "UTF-8";
@import url("/css/mypage/mypaging.css");

/* Nav */
.lnb-box a:nth-child(2) {
	color: #01c9c6;
	font-weight: bold;
	font-size: 16px;
	border-left: 3px solid #01c9c6;
}
.lnb-box a:nth-child(2):hover {
	background-color: #fff;
}

.switch{
	width:750px;
}
.switch a{
	height: 15px;
	padding:5px 13px;
	font-weight: 500;
	font-size: 17px;
	border:1px solid gray;
	border-radius: 8px 8px 0px 0px;
	position: relative;
	bottom: -9px;
	background-color: white;
}
.switch a:nth-child(1){
	width: 75px;
	color: #01c9c6;
	border-bottom: 4px solid #01c9c6;
	margin-right:0px;
}
.switch a:nth-child(2){
	width: 60px;
	padding-bottom: 9px;
	color:black;
	border-bottom: none;
}
.switch-select{
	margin-left:425px;
	width:165px;
}
.board-box{
	width: 750px;
	display:block;
	position: relative;
	font-weight: 200;
	font-size: 16px;
	border: none;
	color: rgb(102,102,102);
	text-align: center;
	line-height: 55px;	
}

.board-box h3{
	text-align:left;
	width:800px;
	height:30px;
	color: black;
	font-size:30px;
	font-weight:500;
	margin-bottom:40px;
}
table{
    width: 100%;
    border-collapse: collapse;
    line-height: 20px;
}
table td,th {
	border-bottom: 1px solid #dedede;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    color:gray;
    font-weight:500;
}
table{
	border:none;
}


th {
	border:1px solid gray;
	background:white;
	color:black;
	
}