@charset "UTF-8";

/* Nav */
.lnb-box a:nth-child(1) {
	color: #01c9c6;
	font-weight: bold;
	font-size: 16px;
	border-left: 3px solid #01c9c6;
}
.lnb-box a:nth-child(1):hover {
	background-color: #fff;
}

.info-box{
	width: 810px;
}

/* info-basic */
.info-box>h3{
	font-size: 30px;
}
.info-box h4 {
	color: black;
}
.info-box>div {
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
	padding: 40px 60px;
	overflow: auto;
	width: 99%;
	margin: 20px auto;
	color: rgb(102,102,102);
}
.info-basic {
	font-size: 14px;
}
.info-basic>* {
	float: left;
}
.basic-img-box {
	width: 7rem;
	text-align: center;
}
.profile-img {
	margin-right: 10px;
}
.profile-img:hover {
	cursor: pointer;
}
.info-basic ul {
	width: 500px;
}
.info-basic li {
	float: left;
	width: 50%;
}
.info-basic li:nth-child(2n-1) {
	text-align: center;
}
.info-basic li:nth-child(2n) {
	text-align: left;
}

.basic-list-email {
	margin-bottom: 20px;
}
.basic-info-input {
	height: 26px;
	width: 150px;
	border: 1px solid #ccc;
	border-radius: 3px;
	padding: 0 5px;
	transition: all ease 0.5s;
}
.basic-info-input:focus {
	border: 1px solid black;
	outline: none;
}
.basic-list-nickname {
	position: relative;
}
.reg-info {
	position: absolute;
	border: 1px solid gray;
	padding: 7px;
	font-size: 12px;
	display: none;
	top: -5px;
	right: -75px;
}

.basic-tel-box {
	margin-bottom: 5px;
	position: relative;
}
#basicTelCk {
	display: none;
}
.tel-btn {
	height: 26px;
	line-height: 0px;
	position: absolute;
	top: 0;
	margin-left: 3px;
}
.ck-msg {
	height: 20px;
	font-size: 12px;
}

/* info-metabolic-rate */
.info-metabolic-rate>* {
	width: 300px;
	margin: 0 auto;
	margin-bottom: 20px;
}
.metabolic-rate-values>li {
	margin: 20px 0;
	display: flex;
}
.metabolic-rate-values>li:nth-child(1){
	justify-content: space-between;
}
.metabolic-rate-values>li:nth-child(2){
	justify-content: space-around;
}

label {
	margin-right: 3px;
}

#man {
	margin-right: 10px;
}

#height,
#weight {
	width: 40px;
}

.activity-rate label {
	width: 270px;
}

h4{
	text-align: center;
}

.info-edit-pw-btn {
	float: right;
	margin-right: 5px;
}
#editCkPwd {
	border: none;
	border-bottom: 1px solid #ccc;
	width: 100px;
	transition: all ease 0.5s;
}
#editCkPwd:focus {
	border: none;
	outline: none;
	border-bottom: 1px solid black;
}
.calc-metabolic-rate span {
	color: black;
}