@charset "UTF-8";

/* Nav */
.lnb-box a:nth-child(4) {
	color: #01c9c6;
	font-weight: bold;
	font-size: 16px;
	border-left: 3px solid #01c9c6;
}
.lnb-box a:nth-child(4):hover {
	background-color: #fff;
}

.del-info{
	width: 750px;
	display:block;
	position: relative;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 200;
	font-size: 16px;
	border: none;
	color: rgb(102,102,102);
	text-align: center;
	line-height: 55px;
	
}
