@charset "UTF-8";

/* Nav */
.lnb-box a:nth-child(4) {
	color: #01c9c6;
	font-weight: bold;
	font-size: 16px;
	border-left: 3px solid #01c9c6;
}
.lnb-box a:nth-child(4):hover {
	background-color: #fff;
}

.del-info{
	width: 750px;
	display:block;
	position: relative;
	font-family: "Noto Sans KR", sans-serif;
	font-weight: 200;
	font-size: 16px;
	border: none;
	color: rgb(102,102,102);
	text-align: center;
	line-height: 55px;	
}

.del-head h3{
	text-align:left;
	width:800px;
	height:30px;
	color: black;
	font-size:30px;
	font-weight:500;
	margin-bottom:40px;
}

.del-head p{
	text-align:left;
	margin:15px;
	border:1px solid gray;
	border-radius: 5px;
	padding:5px;
	font-weight:350;
	color:#5c5c5c;
}

.del-head-a{
	color:red;
}

.del-middle h3{
	text-align:left;
	width:735px;
	height:40px;
	font-weight:500;
	color:black;
}

.del-middle p{
	text-align:left;
	margin:15px;
	border:1px solid gray;
	border-radius: 5px;
	font-weight:350;
	padding:5px;
	color:#5c5c5c;
}
.del-middle li{
	text-align:left;
	font-size:17px;
	font-weight:400;
	color:black;
}

.del-middle input{
	text-align:left;
}

#delFrm li{
	margin:5px;
}

.del-reason-input{
	width:500px;
	height:120px;
	text-align:left;
	font-size:14px;
	margin-bottom:30px;
	font-weight:500;

}

.del-pwd-input{
	width:400px;
	height:45px;
	margin-left:4px;
}
.del-button{
	margin-top:50px;
	width:300px;
	height:60px;
	display: inline-block;
 	background-color: #01c9c6;
  	color: white;
  	font-weight: var(--font-medium);
  	font-size: 20px;
  	transition: 0.5s;
  	border-radius: 8px;
  	border:none;
  	font-weight:500;
}
.del-button:hover {
  background-color: #dedede;
}