<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.mohel.dao.BoardDAO">
	<insert id="boardInsert">
		insert into board(title, contents, nickname,category)
		values(#{title}, #{contents}, #{nickname}, #{category}) 
	</insert>
	<select id="totalRecord" resultType="int">
		select count(no) cnt from board  where category =#{param1} 
		<if test="param2.searchWord != null and param2.searchWord !=''">
			and ${param2.searchKey} like '%${param2.searchWord}%'
		</if>
	</select>
	
	<select id="boardList" resultType="com.finalproject.mohel.vo.BoardVO">
		select no, title, nickname, hit, date_format(writedate,'%m-%d %H:%i') writedate
		from board where category =#{param1} 
		
		<if test="param2.searchWord != null and param2.searchWord !=''">
			and ${param2.searchKey} like '%${param2.searchWord}%' 
		</if>
		 order by no desc limit ${param2.onePageRecord} offset ${param2.offsetIndex}
	</select>
	<select id="boardSelect" resultType="com.finalproject.mohel.vo.BoardVO">
		select no, title, contents, nickname, hit, writedate
		from board where no=#{param1}
	</select>
	<update id="hit">
		update board set hit=hit+1 where no=#{param1}
	</update>
	<update id="boardUpdate">
		update board set title=#{title}, contents=#{contents} where no=${no} and nickname=#{nickname}
	</update>
	<delete id="boardDelete">
		delete from board where no=#{param1} and nickname=#{param2} 
	</delete>
</mapper>