<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.finalproject.mohel.dao.ExerciseReplyDAO">
	 <insert id="exerciseReplyWrite">
 		insert into exercise_reply(exerciseNo, nickname, contents) values (#{no}, #{nickname}, #{contents})
 	</insert>
	<select id="exerciseReplyList" resultType="ExerciseReplyVO">
		select no, exerciseNo, nickname, contents, writedate from exercise_reply
		where exerciseNo=${param1}
		order by no desc
	</select>
	<update id="exerciseReplyEdit">
		update exercise_reply set contents=#{contents}, moddate=#{moddate} where no=${no} and nickname=#{nickname}
	</update>
	<delete id="exerciseReplyDel">
		delete from exercise_reply where no=#{param1} and nickname=#{param2}
	</delete>
</mapper>