<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.finalproject.mohel.dao.ReplyDAO">
  	<insert id="replyWrite">
  		insert into boardreply(boardNo, nickname, contents)
  		values(#{boardNo}, #{nickname}, #{contents})
  	</insert>
  	<select id="replyList" resultType="com.finalproject.mohel.vo.ReplyVO">
  		select boardNo, nickname, contents, writedate
  		from boardreply where boardNo=${param1}
  		order by boardNo desc
  	</select>
  	<update id="replyEdit">
  		update boardreply set contents=#{contents} where boardNo=${boardNo} and nickname=#{nickname}
  	</update>
  	<delete id="replyDel">
  		delete from boardreply where boardNo=${param1} and nickname=#{param2}
  	</delete>
</mapper>